<app-header></app-header>
<mat-divider></mat-divider>

<mat-tab-group color="accent" class="body">
    <!-- Room Module -->
    <mat-tab label="Room Module" checked>
        <app-room-module-tab></app-room-module-tab>
    </mat-tab>

    <!-- Appointment List -->
    <mat-tab label="Appointment List">
        <app-appointment-module-tab></app-appointment-module-tab>
    </mat-tab>

    <!-- Free Call -->
    <mat-tab label="Free Call">
        <app-free-call></app-free-call>
    </mat-tab>
</mat-tab-group>
