<div mat-dialog-content>
    <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
        <!-- left table-->
        <div fxFlex="40">
            <div class="first-header-bar"fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                <span>New Service Locations</span>
            </div>
            <div class="second-header-bar" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                <span>Clinic: </span>
                <select class="select-css" (change)="onChangeDepartment($event)">
                    <option *ngFor="let dpt of departments" [value]="dpt"> {{dpt.departmentName}}</option>
                </select>
            </div>
        </div>

        <!-- middle btns -->
        <div fxFlex>

        </div>

        <!-- right table -->
        <div fxFlex="40">

        </div>
    </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="onConfirm()">Confirm</button>
</div>