<div class="appointment" style="margin-top: 8px !important;">
    <div class="header">
        Appointment List (Appointment with MCR only)
    </div>

    <div class="info">
        <table #appointmentTable mat-table [dataSource]="appointmentDataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element , let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="salut">
                <th mat-header-cell *matHeaderCellDef> Salut </th>
                <td mat-cell *matCellDef="let element"> {{element.salut}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
            </ng-container>

            <ng-container matColumnDef="nric">
                <th mat-header-cell *matHeaderCellDef> Patient Nric </th>
                <td mat-cell *matCellDef="let element"> {{element.patientNric}} </td>
            </ng-container>

            <ng-container matColumnDef="apptTime">
                <th mat-header-cell *matHeaderCellDef> Appointment Time </th>
                <td mat-cell *matCellDef="let element"> {{element.apptTimestamp |  date: 'dd/MM/yyyy , hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="mcrCode">
                <th mat-header-cell *matHeaderCellDef> MCR Code </th>
                <td mat-cell *matCellDef="let element"> {{element.mcrCode}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="appointmentDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: appointmentDisplayedColumns;"></tr>
        </table>
    </div>
</div>