<div id="login-background" fxFlexFill fxLayout="row" fxLayoutAlign="start center">
    <div id="floating-container" fxFlexLayout="row" fxFlexOffset="15vw" fxFlex="50">
        <!-- Login section -->
        <div fxFlex="50">
            <div class="title">Q Login</div>
            <div class="container">
                <mat-radio-group class="user-radio-group">
                    <mat-radio-button class="user-radio-btn" value="user">User</mat-radio-button>
                    <mat-radio-button class="user-radio-btn" value="admin">Admin</mat-radio-button>
                </mat-radio-group>
                <form id="login-form" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="username">
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <mat-error>Username is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-icon matSuffix>lock_outline</mat-icon>
                        <mat-error>Password is required.</mat-error>
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary" (click)="login()">LOGIN</button>
                </form>
            </div>
        </div>

        <mat-divider vertical="true"></mat-divider>
        <!-- Info section -->
        <div fxFlex="auto">
            <div class="title">Info</div>
            <mat-list role="list" class="container">
                <mat-list-item role="listitem">Institution: &nbsp; <strong>{{ terminal.institution }}</strong></mat-list-item>
                <mat-list-item role="listitem">Clinic: &nbsp; <strong>{{ terminal.clinic }}</strong></mat-list-item>
                <mat-list-item role="listitem">Terminal: &nbsp; <strong>{{ terminal.terminal }}</strong></mat-list-item>
                <mat-list-item role="listitem">IP Addr: &nbsp; <strong>{{ terminal.ip }}</strong></mat-list-item>
            </mat-list>
        </div>
    </div>
</div>