<div class="appointment">
    <div class="header">
        Appointment List (Appointment with MCR only)
    </div>

    <div class="info">
        <table #appointmentTable mat-table [dataSource]="appointmentDataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element;index as i;"> {{ i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="patientTitle">
                <th mat-header-cell *matHeaderCellDef> Salut </th>
                <td mat-cell *matCellDef="let element"> {{element.patientTitle}} </td>
            </ng-container>

            <ng-container matColumnDef="patientName">
                <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
            </ng-container>

            <ng-container matColumnDef="patientNric">
                <th mat-header-cell *matHeaderCellDef> Patient Nric </th>
                <td mat-cell *matCellDef="let element"> {{element.patientNric}} </td>
            </ng-container>

            <ng-container matColumnDef="apptTimestamp">
                <th mat-header-cell *matHeaderCellDef> Appointment Time </th>
                <td mat-cell *matCellDef="let element"> {{element.apptTimestamp | date:'HH:mm a'}} </td>
            </ng-container>

            <ng-container matColumnDef="apptDoctorMCR">
                <th mat-header-cell *matHeaderCellDef> MCR Code </th>
                <td mat-cell *matCellDef="let element"> {{element.apptDoctorMCR}} </td>
            </ng-container>

            <!-- Checkbox Column -->
            <!-- <ng-container matColumnDef="select"> -->
                <!-- <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterJourneyToggle() : null" [checked]="journeySelection.hasValue() && isAllJourneySelected()"
                        [indeterminate]="journeySelection.hasValue() && !isAllJourneySelected()" [aria-label]="checkboxJourneyLabel()">
                    </mat-checkbox>
                </th> -->
                <!-- <th mat-header-cell *matHeaderCellDef> Selection </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox>
                    </mat-checkbox>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="appointmentDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: appointmentDisplayedColumns;"></tr>
        </table>
    </div>
</div>