<div class="appointment">
    <div class="header">
        Appointment List (Appointment with MCR only)
    </div>

    <div class="info">
        <mat-table #appointmentTable  [dataSource]="appointmentDataSource">

            <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
                <mat-cell *matCellDef="let element , let i = index"> {{i+1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="salut">
                <mat-header-cell *matHeaderCellDef> Salut </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.patientTitle}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Patient Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.patientName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nric">
                <mat-header-cell *matHeaderCellDef> Patient Nric </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.patientNric}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="apptTime">
                <mat-header-cell *matHeaderCellDef> Appointment Time </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.apptTimestamp |  date: 'dd/MM/yyyy , hh:mm:ss a'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mcrCode">
                <mat-header-cell *matHeaderCellDef> MCR Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tagQueue}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="appointmentDisplayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: appointmentDisplayedColumns;"
            [ngClass]="{'selected': row.patientNric == rowData.appointment.patientNric}"></mat-row>
        </mat-table>
    </div>
</div>