<div class="patient" style="margin-top: 8px !important;">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Patient Information:</span>
        <button mat-raised-button>
            Clear All Record
        </button>
    </div>
    <div class="info">
        <form #patientForm="ngForm">
            <table>
                <tr>
                    <td>
                        <span class="label">1. NRIC/FIN: *</span>
                    </td>
                    <td>
                        :<input #nirc name="nirc" autocomplete="off">
                    </td>
                    <td>
                        <span class="label">4. Category*</span>
                    </td>
                    <td>
                        :<input #category name="category" autocomplete="off">
                        <!-- <select required>
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{category.categoryName}}</option>
                        </select> -->
                    </td>
                    <td rowspan="3">
                        <span class="label">6. Change Category</span><br>
                        <select required style="width:90%;margin-left: 5%;">
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{category.categoryName}}</option>
                        </select>
                    </td>
                    <td rowspan="3" style="height: 50px; text-align: center;">
                        <button mat-raised-button color="primary" style="height: 50px;">
                            CHANGE Q
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label">2. Name</span>
                    </td>
                    <td>
                        :<input #nirc name="nirc" autocomplete="off">
                    </td>
                    <td>
                        <span class="label">5. Questionnaire</span>
                    </td>
                    <td>
                        : Y | N | Y | X | X X | 8
                    </td>
                    <!-- <td>
                        <span class="label">6. Change Category</span>
                    </td> -->
                </tr>
                <tr>
                    <td>
                        <span class="label">3. Vasit Type</span>
                    </td>
                    <td>
                        :<input #visitType name="visitType" autocomplete="off">
                        <!-- :<select required>
                            <option *ngFor="let visitType of visitTypes" [value]="visitType.id">
                                {{visitType.name}}</option>
                        </select> -->
                    </td>
                    <td>
                        <span class="label">6. EPIC Failure</span>
                    </td>
                    <td>
                        : Outstanding Payment
                    </td>
                    <!-- <td>
                        <span class="label">6. Change Category</span>
                    </td> -->
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- <mat-divider style="margin: 20px 0px;"></mat-divider> -->
<div class="registration" fxLayout="row" fxLayoutAlign="space-between">
    <!-- <ngx-loading [show]="fetch"></ngx-loading> -->
    <div fxFlex="74" style="border: 1px solid rgba(0, 0, 0, 0.12)">

        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="info">
                [Total Q= {{allQTableHeader.total}}], [Fresh Q={{allQTableHeader.waiting}}], [Miss Q=
                {{allQTableHeader.miss}}], [Missed Back={{allQTableHeader.missback}}]
            </div>
            <!-- <div class="status">
                [ Server Status: <span>Online</span> ]
            </div> -->
        </div>

        <div class="registration-list">
            <table #queueTable mat-table [dataSource]="allQDS">

                <ng-container matColumnDef="qNo">
                    <th mat-header-cell *matHeaderCellDef> Q.No </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.queueNo}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>

                <ng-container matColumnDef="mrn">
                    <th mat-header-cell *matHeaderCellDef> MRN </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.mrn}} </td>
                </ng-container>

                <ng-container matColumnDef="visitType">
                    <th mat-header-cell *matHeaderCellDef> Visit Type </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.visitType}} </td>
                </ng-container>

                <ng-container matColumnDef="apptTime">
                    <th mat-header-cell *matHeaderCellDef> Appt Time </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.appointmentTime |  date: 'dd/MM/yyyy , hh:mm:ss'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="waitTime">
                    <th mat-header-cell *matHeaderCellDef> Wait Time </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{'check'}} </td>
                </ng-container>

                <ng-container matColumnDef="tWaitTime">
                    <th mat-header-cell *matHeaderCellDef> T.Wait Time </th>
                    <td class="row" mat-cell *matCellDef="let element">{{'check'}} </td>
                </ng-container>

                <ng-container matColumnDef="callTime">
                    <th mat-header-cell *matHeaderCellDef> Call Time </th>
                    <td class="row" mat-cell *matCellDef="let element"> <span
                            *ngIf="element.callCount">{{element.callCount}}-{{element.lastCallTime | date: 'shortTime'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td class="row" mat-cell *matCellDef="let element"> {{element.remark}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="queueDisplayedColumns; sticky: true"></tr>
                <tr class="color" mat-row *matRowDef="let row; columns: queueDisplayedColumns;"
                    (click)="onClickRow(allQDS.data[0], 'all')" [ngClass]="{'selected': row.queueNo == selectedRowData.queue.queueNo,                                
            'serving': row.queueStatusId == qServingStatus}"></tr>
            </table>

        </div>
    </div>
    <div class="standard" fxFlex="25">
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                Standard Actions
            </div>
            <div>
                Legend
            </div>
        </div>
        <div class="actions">
            <table>
                <tbody>
                    <tr>
                        <td fxFlex="50">
                            <button mat-raised-button (click)="onClickNext()">
                                <span>NEXT Q</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>double_arrow</mat-icon>
                                </span>
                            </button>
                        </td>
                        <td fxFlex="50">
                            <button mat-raised-button (click)="onClickSilentRing()">
                                <span>SILENT CALL</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>volume_off</mat-icon>
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td fxFlex="50">
                            <button mat-raised-button (click)="onClickRing()">
                                <span> CALL Q</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>volume_up</mat-icon>
                                </span>
                            </button>
                        </td>
                        <td fxFlex="50">
                            <button mat-raised-button>
                                <span>PRINT CALL</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>print</mat-icon>
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td fxFlex="50">
                            <button mat-raised-button (click)="onClickNoResponse()">
                                <span>MISS Q</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>report_problem</mat-icon>
                                </span>
                            </button>
                        </td>
                        <td fxFlex="50">
                            <button mat-raised-button (click)="addRemark()">
                                <span>ADD REMARKS</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>chat</mat-icon>
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td fxFlex="50">
                            <button mat-raised-button (click)="onClickServeAndTransfer()">
                                <span>TRANSFER</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>send</mat-icon>
                                </span>
                            </button>
                        </td>
                        <td fxFlex="50">
                            <button mat-raised-button>
                                <span>END Q</span>
                                <span fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-icon>home</mat-icon>
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <mat-divider style="margin: 20px 0px;"></mat-divider> -->

<div class="service" fxLayout="row" fxLayoutAlign="space-between">
    <div class="location" fxFlex="40">
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <span>New Service Locations</span>
        </div>

        <div class="info">
            <div class="clinic">
                <span fxFlex="40px">Clinic: </span>

                <select fxFlex="85" class="select-css" (change)="onChangeDepartment($event)">
                    <option *ngFor="let dpt of departments" [value]="dpt.id"> {{dpt.departmentName}}</option>
                </select>
            </div>

            <mat-divider></mat-divider>

            <div class="location-list">
                <table mat-table [dataSource]="srcLocationDS">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            Select
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox (change)="onToggleSrcLoc(element)" [(ngModel)]="element.isSelected">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Location Column -->
                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.workgroupName}} </td>
                    </ng-container>

                    <!-- InQ Column -->
                    <ng-container matColumnDef="inQ">
                        <th mat-header-cell *matHeaderCellDef> In Q </th>
                        <td mat-cell *matCellDef="let element"><input type="number"></td>
                    </ng-container>
                    &nbsp;

                    <!-- Order Column -->
                    <ng-container matColumnDef="orderId">
                        <th mat-header-cell *matHeaderCellDef> Order </th>
                        <td mat-cell *matCellDef="let element"><input type="number" [(ngModel)]="element.orderId"
                                [disabled]="!element.isSelected"></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="locationDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: locationDisplayedColumns;"></tr>
                </table>
            </div>
            <button mat-stroked-button (click)="onDeselectAll()" style="background-color: lightgray !important;margin-left: 5%;">Deselect all service locations</button>
        </div>
    </div>

    <div class="actions" fxFlex="10" fxLayout="column" fxLayoutAlign="space-around center">
        <button mat-raised-button (click)="addToFirst()">
            <span>ADD TO FIRST</span>
            <span fxLayout="row" fxLayoutAlign="space-around center">
                <mat-icon>double_arrow</mat-icon>
                F
            </span>
        </button>
        <button mat-raised-button (click)="addToLast()">
            ADD TO LAST
            <span fxLayout="row" fxLayoutAlign="space-around center">
                <mat-icon>double_arrow</mat-icon>
                L
            </span>
        </button>
        <button mat-raised-button (click)="onRemove()">
            REMOVE
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <div class="journey" fxFlex="50">
        <div class="header">
            <span>Current Journey List</span>
        </div>
        <div class="info">
            <div class="journey-list">
                <table #journeyTable mat-table [dataSource]="journeyDataSource">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            Select
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox *ngIf="element.actFlag == destStatus.WAITING"
                                [(ngModel)]="element.isSelected"></mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Clinic Column -->
                    <ng-container matColumnDef="clinic">
                        <th mat-header-cell *matHeaderCellDef> Clinic </th>
                        <td mat-cell *matCellDef="let element">{{element.departmentName}} </td>
                    </ng-container>

                    <!-- Location Column -->
                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.workgroupName}} </td>
                    </ng-container>

                    <!-- ApptTime Column -->
                    <ng-container matColumnDef="apptTime">
                        <th mat-header-cell *matHeaderCellDef> ApptTime </th>
                        <td mat-cell *matCellDef="let element">{{element.appointmentTime | date: 'shortTime'}}</td>
                    </ng-container>

                    <!-- CreatedBy Column -->
                    <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef> Created By </th>
                        <td mat-cell *matCellDef="let element"> createdBy </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{ element.actFlag }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="journeyDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: journeyDisplayedColumns;"
                        ></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-stroked-button (click)="onDeselectAll()">Deselect all serice locations</button>
    <button mat-raised-button (click)="onConfirm()">Confirm</button>
</div>
<div fxLayout="row"></div> -->