@import '~@angular/material/theming';

$starter-theme-primary: mat-palette($mat-indigo);
$starter-theme-accent:  mat-palette($mat-indigo, A200, A100, A400);
$starter-theme-warn:    mat-palette($mat-red);

$row-selected: mat-palette($mat-green);
$row-serving: mat-palette($mat-blue);


