<app-header></app-header>
<mat-divider></mat-divider>

<mat-tab-group #Tabs color="accent" class="body" (selectedTabChange)="tabChanged($event)">
    <!-- Registration Module -->
    <mat-tab label="Registration Module" checked>
        <app-registration></app-registration>
    </mat-tab>

    <!-- Appointment List -->
    <mat-tab label="Appointment List">
        <app-appointment-list></app-appointment-list>
    </mat-tab>

    <!-- Free Call -->
    <mat-tab label="Payment">
        <app-payment-tab></app-payment-tab>
    </mat-tab>

    <!-- Kiost -->
    <mat-tab label="Kiosk">

    </mat-tab>
</mat-tab-group>
<mat-divider></mat-divider>
<app-footer></app-footer>