<div fxLayout="row" fxLayoutAlign="space-between center" class="header-container">

    <!-- logo and name section -->
    <div class="left-section" fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/logo/logo.png">
        <div>
            <div><strong>EQMS STAFF OPERATION MODULE</strong></div>
            <div>Location: (A41 Eye) Counter 02</div>
            <div>User: Qsoft Tester [Setup_Admin]</div>
        </div>
    </div>

    <!-- button section -->
    <div class="right-section" fxLayout="column" fxLayoutAlign="space-between end">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2px">
            <span>Queue No:</span>
            <span class="queue-no">780</span>
            <button mat-icon-button>
                <mat-icon>volume_up</mat-icon>
            </button>
        </div>
        <div fxFlex class="button-section" fxLayoutGap="10px">
            <button mat-icon-button id="refresh-btn">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button id="about-btn">
                <mat-icon>error_outline</mat-icon>
            </button>
            <button mat-icon-button id="exit-btn" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>

    </div>
</div>